<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.novate.base">

    <application>
        <provider
            android:name=".timber.TimberInitializer"
            android:authorities="${applicationId}.timber.TimberInitializer"
            android:exported="false"
            android:initOrder="@integer/base_init_order_timber_initializer"
            android:multiprocess="true" />
    </application>

</manifest>